body{
    background-color: rgb(50, 50, 50);
    color:white;
}

form{
    width:40%;
    
    *{
        margin-bottom:10px;
    }


    input[type='text']{
        width:100%;
        box-sizing:border-box;
    }

    textarea{
        height:200px;
        width:100%;
        box-sizing:border-box;
    }
}

.post{
    border:2px solid black;
    width:fit-content;
    padding:10px;
    margin-bottom:10px;
}